<h1>Dealerships</h1>

<p>Add a dealership: </p>

<form action="/dealerships" method="post">
  <label for="name" class="jv-label">Dealership's name:</label>
  <input type="text" name="name" id="name">
  <button type="submit" class="btn-success">Add!</button>
</form>
