p {
  color: #000000;
}

h1 {
  font-size: 3em;
  text-align: center;
  text-decoration: underline;
}

a {
  color: #000000;
}

a:hover, html {
  color: #000000;
  cursor: url(http://cur.cursors-4u.net/mechanics/mec-2/mec163.cur), progress !important;
}

button:hover {
  cursor: url(http://cur.cursors-4u.net/mechanics/mec-2/mec163.cur), progress !important;
}

input:hover {
  cursor: url(http://cur.cursors-4u.net/mechanics/mec-2/mec163.cur), progress !important;
}
